@model Xlns.PartiComodo.Core.Model.Agenzia
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <h3>
                Operazioni disponibili</h3>
            <ul class="nav nav-tabs nav-stacked">
                <li>@Html.ActionLink("Crea un nuovo Flyer", "Create", "Flyer", new { id = @Model.Id }, null)</li>
                <li>@Html.ActionLink("Visualizza i miei Flyer", "List", "Flyer", new { id = @Model.Id }, null)</li>
                <li>@Html.ActionLink("Visualizza tutte le Iniziative", "List", "Viaggio", null, null)</li>
                <li>@Html.ActionLink("Modifica i miei dati", "Edit", "Agenzia", new { id = @Model.Id }, null)</li>
            </ul>
        </div>
        <div class="span8">
            <h3>
                Benvenuto @Model.Nome</h3>
            <p class="text-info">
                Benvenuto, questa è la tua personale Dashboard. Da qui potrai gestire le tue iniziative,
                crearne di nuove o semplicemente cercare nuovi partner commerciali per la tua attività.</p>
            <address>
                <strong>I miei dati: @Model.Nome</strong><br />
                @if (Model.Location != null) { 
                    @Model.Location.City <span>  </span> @Model.Location.CAP<br />
                    @Model.Location.Street <span>,</span> @Model.Location.Number<br />
                }
                <abbr title="Phone">
                    Telefono:</abbr>
                @Model.Telefono
            </address>
            <address>
                <strong>Email</strong><br />
                <a href="mailto:#">@Model.Email</a>
            </address>
            <h4>
                Parti Comodo Wiki</h4>
            <p>
                TO: Tour Operator</p>
            <p>
                AdV: Agenzia di Viaggi</p>
            <p>
                Pubblico: Gli utenti non registrati a Parti Comodo</p>
        </div>
    </div>
</div>
