@using Xlns.PartiComodo.UI.Web.Models;
@model Xlns.PartiComodo.Core.Model.Viaggio
<script>
    $(function () {
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "d MM, yy");
    });
	</script>
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div class="row">
    <div class="span4">
        <h3>
            NUOVO VIAGGIO</h3>
        @using (Html.BeginForm("Save", "Viaggio", FormMethod.Post, new { id = "salvaViaggioForm", enctype = "multipart/form-data" }))
        {   
            @Html.HiddenFor(model => model.Agenzia.Id)    
            @Html.HiddenFor(model => model.Agenzia.Nome)    
            @Html.HiddenFor(model => model.Agenzia.Email)    
            @Html.HiddenFor(model => model.Agenzia.Password)    
            @Html.HiddenFor(model => model.Agenzia.RagioneSociale)    
            @Html.HiddenFor(model => model.Agenzia.PIva)                     
            <p>
                @Html.LabelFor(model => model.Nome)
            </p>
            <p>
                @Html.TextBoxFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </p>
            <p>
                @Html.LabelFor(model => model.Descrizione)
            </p>
            <p>
                @Html.TextAreaFor(model => model.Descrizione, 3, 50, null)
                @Html.ValidationMessageFor(model => model.Descrizione)
            </p>
            <p>
                @Html.LabelFor(model => model.DataPartenza)
            </p>
            <p>
                @Html.TextBox("DataPartenza", string.Format(ModelMetadata.FromLambdaExpression(m => m.DataPartenza, ViewData).DisplayFormatString, Model.DataPartenza), new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.DataPartenza)
            </p>
            <p>
                @Html.LabelFor(model => model.DataChiusuraPrenotazioni)
            </p>
            <p>
                @Html.TextBox("DataChiusuraPrenotazioni", string.Format(ModelMetadata.FromLambdaExpression(m => m.DataChiusuraPrenotazioni, ViewData).DisplayFormatString, Model.DataChiusuraPrenotazioni), new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.DataChiusuraPrenotazioni)
            </p>
            <p>
                @Html.LabelFor(model => model.PrezzoStandard)
            </p>
            <p>
                @Html.TextBoxFor(model => model.PrezzoStandard) €
                @Html.ValidationMessageFor(model => model.PrezzoStandard)
            </p>                            
             
            <p>
                @Html.LabelFor(model => model.TotalePosti)
            </p>
            <p>
                @Html.TextBoxFor(model => model.TotalePosti)
                @Html.ValidationMessageFor(model => model.TotalePosti)
            </p>
            @Html.HiddenFor(model => model.Id)
            <p>
                <input type="submit" value="Salva" class="btn btn-primary btn-large" />
            </p>
        }
    </div>
    <div class="span8">
        <h3>
            QUI LA GOOGLE MAP</h3>
            <div style="padding-left: 50px">
                    @if (Model.Id != 0)
                    {
                        <div id="ListaTappeEditabili">
                            @{Html.RenderAction("EditTappeViaggio", new { idViaggio = Model.Id });}
                        </div>
                        <div id="EditTappaDialog" style="display: none">
                        </div>
                        <script type="text/javascript">
                            var tappaDialog;

                            function ShowLoadingElement() {
                                $('#ListaTappeEditabili').html('<img alt="loading" src="@Url.Content("~/Content/img/loading.gif")" width="24px" height="24px"/>');
                            }

                            function CloseDialog() {
                                tappaDialog.dialog("close");
                            }

                            $(function () {
                                tappaDialog = $('#EditTappaDialog');
                                tappaDialog.dialog(
                                {
                                    modal: true,
                                    autoOpen: false,
                                    width: '800',
                                    resizable: false
                                });
                            });
                            function aggiungiTappa(tipoTappa) {
                                $.ajax({
                                    url: '@Url.Action("CreateTappa")' + "?tipo=" + tipoTappa + "&idViaggio=@Model.Id",
                                    cache: false,
                                    success: function (result) {
                                        tappaDialog.html(result);                                        
                                        $('#submitButton').show();
                                        tappaDialog.dialog("open");
                                        initializeMap();
                                        showLocation("Italia", true);
                                    },
                                    error: function () {
                                        tappaDialog.html("Impossibile recuperare l'editor delle tappe");
                                        $('#submitButton').hide();
                                    }
                                });
                            }

                            function modificaTappa(idTappa) {
                                $.ajax({
                                    url: '@Url.Action("EditTappa")' + "?id=" + idTappa,
                                    cache: false,
                                    success: function (result) {
                                        tappaDialog.html(result);
                                        $('#submitButton').show();
                                        tappaDialog.dialog("open");
                                    },
                                    failure: function () {
                                        tappaDialog.html("Impossibile recuperare l'editor delle tappe");
                                        $('#submitButton').hide();
                                    }
                                });
                            }
                        </script>
                    }
                </div>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h3>
            ads 1</h3>
    </div>
    <div class="span4">
        <h3>
            ads 2</h3>
    </div>
    <div class="span4">
        <h3>
            ads 3</h3>
    </div>
</div>

